@layer base {
	* {
		border-color: var(--border);
		outline-color: color-mix(in oklch, var(--ring) 50%, transparent);
	}
	body {
		background-color: var(--background);
		color: var(--foreground);
	}
	button,
	[data-slot="button"] {
		font-family: var(--font-button);
	}
}

@layer base {
	input::placeholder,
	textarea::placeholder {
		font-size: 0.8rem;
		line-height: 1rem;
	}
}

